.login-wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: relative;
  z-index: 1;
  background-image: linear-gradient(120deg, #fdfbfb, #ebedee);
  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.45);
  }
  .login-form-wrapper {
    background-color: white;

    width: 500px;
    border-radius: 0;
    overflow: hidden;
    padding: 55px 55px 37px;
    box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.2);
    .logo-top {
      width: 100%;
      img {
        margin: auto;
      }
    }
    .login-form-title {
      font-size: 30px;
      color: $default;
      text-align: center;
      text-transform: uppercase;
      display: block;
      padding-bottom: 34px;
      padding-top: 27px;
    }
    .user-login-form {
      text-align: center;
      label {
        display: none;
      }
      input {
        font-size: 16px;
        color: black;
        background-color: white;
        line-height: 1.2;
        display: block;
        width: 100%;
        height: 45px;
        padding: 0 5px 0 38px;
        border: none;
        outline: none;
        border-radius: 0;
        border: 1px solid lighten($color: $gray, $amount: 20%);
        &.js-form-submit {
          font-size: 16px;
          color: $default;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 20px;
          min-width: 120px;
          height: 50px;
          border-radius: 0;
          transition: all 0.4s;
          position: relative;
          background-color: transparent;
          display: inline-block;
          width: auto;
          margin: 2rem 0;
          border: 1px solid lighten($color: $gray, $amount: 20%);
          &:hover {
            border: 1px solid rgb(253, 212, 4);
            background-color: rgb(253, 212, 4);
            color: white;
          }
        }
      }
      .description {
        color: $gray;
        margin-top: 1rem;
      }
    }
  }
}
