.main-menu {
  display: none;
}
.mobile-nav {
  display: block;
  .nav-hamburger {
    background-color: $yellow;
  }
  .menu-level--1 {
    overflow: hidden;
  }
  &.active-with-social {
    @include sm {
      .social-wrapper {
        display: flex;
      }
    }
  }
  .social-wrapper {
    display: none;
    position: relative;
    width: 100%;
    padding: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
    top: 0;
    margin-top: 2rem;
    &::before,
    &::after {
      display: none;
    }
    .link-holder {
      width: auto;
      margin: 2rem;
      &.fast-contact {
        display: none;
      }
      &:nth-child(1) {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: -5px;
          right: -2rem;
          height: 100%;
          width: 1px;
          background-color: #efefef;
        }
      }
    }
  }
  .language-switcher {
    margin-top: 1rem;
    display: block;
    .current-language {
      display: none;
    }
    .language-label-text {
      padding: 1rem 0 1rem 1.5rem;
      text-transform: none;
      display: block;
      position: relative;
      color: $default;
      text-decoration: none;
      font-size: 18px;
      line-height: 24px;
      font-weight: 300;
      width: 100%;
      transition: all 0.4s;
    }
    .language-switcher-language-url {
      width: 100%;
      display: flex !important;
      flex-wrap: wrap;
      align-items: center;
      margin: 0;
      padding: 0;
      li {
        list-style: none;
      }
      .language-link {
        font-family: "opensans", sans-serif;
        display: block;
        color: $default;
        font-size: 18px;
        line-height: 24px;
        font-weight: 300;
        padding: 0 0 1rem 1.5rem;
        text-transform: uppercase;
      }
      .is-active {
        color: $yellow;
      }
    }
  }
}
